@charset "utf-8";

body {
  margin: 0;
}

.container {
  width: 400px;
  margin: 32px auto 0;
  border: 8px solid blue;
  position: relative;
}

.box-1 {
  width: 100px;
  height: 100px;
  background-color: pink;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.box-2 {
  width: 100px;
  height: 100px;
  background-color: skyblue;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
}

.box-3 {
  width: 100px;
  height: 100px;
  background-color: orange;
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 1;
}